.jumbotron{
    margin: 15px;
}

.list-group-item{
    border: 1px solid #284d56;
    height: auto;
    word-wrap: break-word;

}
.badge{
    margin-right: 5px;
    height: 24px;
    width: 24px;
}

i{
    margin-top: 3px; 
}